html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
section {
    height: 100vh;
    overflow: hidden;
}
section:nth-of-type(1) {
    align-items: center;
    background-color: green;
    display: flex;
    justify-content: center;
}
section:nth-of-type(2) {
    background-color: rgb(9, 46, 70);
    overflow: hidden;
}
span {
    color: white;
    font-size: 2vw;
    overflow: hidden;
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    top: 40px;
    width: 500px;
    z-index: 1;
}
span::after {
    animation: bienvenido 12s forwards;
    content: "";
    height: 100%;
    width: 100%;
}
span::before {
    animation: barra 12s ease forwards;
    background-color: yellowgreen;
    content: '';
    height: 100%;
    width: 100%;
    left: -100%;
    position: absolute;
    z-index: 2;
}
#bajar, #subir {
    border-radius: 30% 30% 0 0;
    cursor: pointer;
    height: 30px;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 40px;
}
#bajar {
    background-color: rgb(9, 46, 70);
    bottom: 0;
    transform: translateX(-50%);
}
#subir {
    background-color: green;
    bottom: 0;
    transform: rotate(180deg) translateX(50%) translateY(-100%);
}
#bajar a, #subir a {
    animation: movete 1s infinite ease-in;
    color: white;
    display: block;
    font-family: Helvetica;
    margin: 5px;
    user-select: none;
}
#contenedor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    width: 100%;
}
.polygon {
    align-items: center;
    background: rgb(73, 207, 201);
    clip-path: polygon(50% 0, 100% 15%, 95% 70%, 50% 100%, 5% 69%, 0 15%);
    color: rgb(9, 46, 70);
    cursor: pointer;
    display: flex;
    font-size: 1.6vw;
    height: 14vw;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    width: 12vw;
}
@keyframes barra {
    25% { left: -100%; }
    30% { left: 100%; }
    55% { left: 100%; }
    60% { left: -100%; }
    95% { left: -100%; }
    100% { left: -100%; }
}
@keyframes bienvenido {
    0% { content: "Hola"; }
    25% { content: "Hola"; }
    30% { content: 'C칩mo est치s?'; }
    55% { content: 'C칩mo est치s?'; }
    60% { content: 'Bienvenido'; }
    95% { content: 'Bienvenido'; opacity: 1;}
    100% {  opacity: 0; }
}
@keyframes movete {
    50% {transform: translateY(3px);}
}