@font-face {
  font-family: RozhaOne-Regular;
  src: url('RozhaOne-Regular.ttf');
}
@font-face {
  font-family: Belgrano-Regular;
  src: url('Belgrano-Regular.ttf');
}
@font-face {
  font-family: Lobster;
  src: url('Lobster-Regular.ttf');
}
html {
  overflow: hidden;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  background-color: #FAFAFA;
  box-sizing: content-box;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
}
object {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
section {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative;
  overflow: hidden;
}
#under {
  position: absolute;
  height: 2px;
  width: 0;
  background-color: rgba(255, 255, 0, 0.8);
  transition: .5s;
  transform: translateY(-5px);
}
#subir {
  border-radius: 30% 30% 0 0;
  cursor: pointer;
  height: 30px;
  left: 50%;
  position: absolute;
  text-align: center;
  width: 40px;
  z-index: 4;
}
#subir {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  color: black;
  transform: rotate(180deg) translateX(50%) translateY(-100%);
}
#subir a {
  animation: UpDown 1s infinite ease-in;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  user-select: none;
}
.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 50% 6% 14% 10% 10% auto;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.container > * {
  margin: 0;
  padding: 0;
}
.container p {
  font-family: 'Lobster', cursive;
  font-size: calc(1em + 1vw);
  opacity: 0;
  transform: translateY(10px);
}
.container p:nth-of-type(1) {
  animation: title 4s 2s forwards;
  grid-column: 2/3;
  grid-row: 2;
}
.container p:nth-of-type(2) {
  animation: title 4s 8s forwards;
  grid-column: 2/3;
  grid-row: 3;
}
.container ul {
  grid-column: 2/3;
  grid-row: 4;
  position: relative;
  text-align-last: justify;
  transform: translateY(20px);
}
.container ul li {
  cursor: pointer;
  display: inline;
  font-family: 'Belgrano-Regular';
  font-size: calc(1.1em + 1.1vw);
  opacity: 0;
  position: relative;
  transform: translateX(500px);
}
.container ul li:nth-of-type(1) { animation: justShow 3s 5s forwards; }
.container ul li:nth-of-type(2) { animation: justShow 3s 5.5s forwards; }
.container ul li:nth-of-type(3) { animation: justShow 3s 6s forwards; }
.container ul li:nth-of-type(4) { animation: justShow 3s 6.5s forwards; }
.container ul li:nth-of-type(5) { animation: justShow 3s 7s forwards; }
.container ul li:nth-of-type(6) { animation: justShow 3s 7.5s forwards; }
.container video {
  min-width: 100vw;
  min-height: 100vh;
}
.title {
  animation: title 5s forwards;
  grid-column: 2/3;
  grid-row: 1;
  opacity: 0;
  position: relative;
  transform: translateY(30px);
}
.title span {
  border-bottom: 2px solid rgba(255, 255, 0, 0.4);
  bottom: 20px;
  font-family: 'RozhaOne-Regular';
  font-size: calc(8em + 8vw);
  height: 0.99em;
  position: absolute;
}
.title span::before {
  animation: titleBar 3s 2s forwards;
  background-color: rgba(255, 255, 0, 0.8);
  content: '';
  height: calc(0.04em + 0.04vw);
  position: absolute;
  top: calc(0.35em + 0.35vw);
  width: 0;
}
@keyframes UpDown {
  50% { transform: translateY(3px); }
}
@keyframes title {
  50% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes titleBar {
  100% {
    width: 54%;
  }
}
@keyframes justShow {
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .title span {
      font-size: calc(6em + 6vw);
  }
  .container p {
      font-size: calc(0.8em + 0.7vw);
  }
  .container li {
      font-size: calc(1em + 1vw);
  }
}
@media only screen and (max-width: 380px) {
  .container li {
      display: block;
      font-size: calc(1em + 1vw);
  }
}